.container {
    padding: 50px 90px;
}

.carousel-inner img {
    width: 75%; 
    margin: auto;
}

.navbar {
    margin-bottom: 0;
    background-color: lightgray;
    border: 0;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar{ 
    color: Black;
}

.navbar-nav li a:hover {
    color: white;
}

.navbar-nav li.active a {
    color: black;
    background-color: lightgray;
}

.card {
  margin-top: 8px;
  width: 100%;
}

.card-img-top{
    width: 350px;
}

.btn:hover{
    background-color: darkgray;
}

#cart{
    display: none;
}

footer {
    background-color: #2d2d30;
    color: white;
    padding: 40px;
    width: 100%;
    margin: auto;
}

footer a {
    color: white;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}